In [1]:
import pandas as pd

In [92]:
demog = pd.read_csv("m5_survey_data_demographics.csv")
df = demog.copy()
df.head(2)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult

In [41]:
df.Country.nunique()

135

In [61]:
df.Country.isna().sum()

0

In [63]:
df.Country[df.Country == 'Germany'].count().sum()

708

In [82]:
df.groupby('Gender')['Respondent'].count()

Gender
Man                                                            10480
Man;Non-binary, genderqueer, or gender non-conforming             26
Non-binary, genderqueer, or gender non-conforming                 63
Woman                                                            731
Woman;Man                                                          9
Woman;Man;Non-binary, genderqueer, or gender non-conforming        2
Woman;Non-binary, genderqueer, or gender non-conforming           14
Name: Respondent, dtype: int64

In [86]:
dff = df.loc[(df.Gender == 'Man') | (df.Gender == 'Woman')]

In [88]:
dff.loc[df.Country == 'Germany'].count()

Respondent      693
MainBranch      693
Hobbyist        693
OpenSourcer     693
OpenSource      687
               ...
Sexuality       666
Ethnicity       662
Dependents      683
SurveyLength    691
SurveyEase      692
Length: 70, dtype: int64

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11398 entries, 0 to 11397
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Respondent      11398 non-null  int64
 1   MainBranch      11398 non-null  object
 2   Hobbyist        11398 non-null  object
 3   OpenSourcer     11398 non-null  object
 4   OpenSource      11317 non-null  object
 5   Employment      11398 non-null  object
 6   Country         11398 non-null  object
 7   Student         11347 non-null  object
 8   EdLevel         11286 non-null  object
 9   UndergradMajor  10661 non-null  object
 10  EduOther        11234 non-null  object
 11  OrgSize         11302 non-null  object
 12  DevType         11333 non-null  object
 13  YearsCode       11389 non-null  object
 14  Age1stCode      11385 non-null  object
 15  YearsCodePro    11382 non-null  object
 16  CareerSat       11398 non-null  object
 17  JobSat          11397 non-null  object
 18  MgrIdiot        10905 non-null  object
 19  MgrMoney        10901 non-null  object
 20  MgrWant         10905 non-null  object
 21  JobSeek         11398 non-null  object
 22  LastHireDate    11398 non-null  object
 23  LastInt         10985 non-null  object
 24  FizzBuzz        11361 non-null  object
 25  JobFactors      11395 non-null  object
 26  ResumeUpdate    11359 non-null  object
 27  CurrencySymbol  11398 non-null  object
 28  CurrencyDesc    11398 non-null  object
 29  CompTotal       10589 non-null  float64
 30  CompFreq        11192 non-null  object
 31  ConvertedComp   10582 non-null  float64
 32  WorkWeekHrs     11276 non-null  float64
 33  WorkPlan        11277 non-null  object
 34  WorkChallenge   11234 non-null  object
 35  WorkRemote      11390 non-null  object
 36  WorkLoc         11366 non-null  object
 37  ImpSyn          11393 non-null  object
 38  CodeRev         11397 non-null  object
 39  CodeRevHrs      8972 non-null   float64
 40  UnitTests       11369 non-null  object
 41  PurchaseHow     11202 non-null  object
 42  PurchaseWhat    11360 non-null  object
 43  BetterLife      11300 non-null  object
 44  ITperson        11363 non-null  object
 45  OffOn           11360 non-null  object
 46  SocialMedia     11105 non-null  object
 47  Extraversion    11378 non-null  object
 48  ScreenName      10891 non-null  object
 49  SOVisit1st      11073 non-null  object
 50  SOVisitFreq     11393 non-null  object
 51  SOVisitTo       11397 non-null  object
 52  SOFindAnswer    11395 non-null  object
 53  SOTimeSaved     11348 non-null  object
 54  SOHowMuchTime   9481 non-null   object
 55  SOAccount       11397 non-null  object
 56  SOPartFreq      10270 non-null  object
 57  SOJobs          11392 non-null  object
 58  EntTeams        11393 non-null  object
 59  SOComm          11398 non-null  object
 60  WelcomeChange   11313 non-null  object
 61  SONewContent    9433 non-null   object
 62  Age             11111 non-null  float64
 63  Gender          11325 non-null  object
 64  Trans           11275 non-null  object
 65  Sexuality       10856 non-null  object
 66  Ethnicity       10723 non-null  object
 67  Dependents      11258 non-null  object
 68  SurveyLength    11379 non-null  object
 69  SurveyEase      11384 non-null  object
dtypes: float64(5), int64(1), object(64)
memory usage: 6.1+ MB

In [110]:
df.groupby("Country")['Respondent'].count().tail(50)

Country
Other Country (Not Listed Above)               18
Pakistan                                       93
Panama                                          2
Paraguay                                        4
Peru                                           12
Philippines                                    36
Poland                                        205
Portugal                                       69
Qatar                                           1
Republic of Korea                               1
Republic of Moldova                            10
Romania                                        95
Russian Federation                            208
Rwanda                                          1
Saudi Arabia                                   12
Senegal                                         2
Serbia                                         53
Singapore                                      33
Slovakia                                       28
Slovenia                                       35
Somalia                                         1
South Africa                                  102
South Korea                                    15
Spain                                         251
Sri Lanka                                      40
Sudan                                           2
Swaziland                                       3
Sweden                                        162
Switzerland                                   148
Syrian Arab Republic                            3
Taiwan                                         23
Thailand                                       19
The former Yugoslav Republic of Macedonia       7
Timor-Leste                                     1
Togo                                            1
Tunisia                                         9
Turkey                                         96
Turkmenistan                                    1
Uganda                                          6
Ukraine                                       108
United Arab Emirates                           19
United Kingdom                                821
United Republic of Tanzania                     2
United States                                3127
Uruguay                                        16
Uzbekistan                                      2
Venezuela, Bolivarian Republic of...            7
Viet Nam                                       12
Yemen                                           1
Zimbabwe                                        5
Name: Respondent, dtype: int64

In [102]:
df.isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 70, dtype: int64

In [107]:
df.Country.nunique()

135

In [118]:
df2 = df.loc[(df['Gender'] !='Man') & (df.Gender !='Woman')]
df2.Country.unique()

array(['United States', 'Republic of Moldova', 'United Kingdom', 'Italy',
       'Mexico', 'Germany', 'Australia', 'South Africa', 'France',
       'Netherlands', 'Finland', 'Sweden', 'Canada', 'Lebanon',
       'Slovenia', 'Bangladesh', 'Ukraine', 'Singapore', 'Hungary',
       'Pakistan', 'Indonesia', 'Switzerland', 'Greece', 'New Zealand',
       'Uruguay', 'Austria', 'Brazil', 'Russian Federation', 'India',
       'Thailand', 'Lithuania', 'Taiwan', 'Poland', 'Ireland', 'Romania',
       'Spain', 'Portugal', 'Argentina', 'Hong Kong (S.A.R.)'],
      dtype=object)

In [119]:
df2.groupby('Country')['Respondent'].count()

Country
Argentina               1
Australia               5
Austria                 1
Bangladesh              1
Brazil                  4
Canada                  6
Finland                 2
France                  6
Germany                15
Greece                  1
Hong Kong (S.A.R.)      1
Hungary                 2
India                   7
Indonesia               2
Ireland                 1
Italy                   2
Lebanon                 1
Lithuania               1
Mexico                  4
Netherlands             6
New Zealand             1
Pakistan                1
Poland                  3
Portugal                2
Republic of Moldova     1
Romania                 1
Russian Federation      4
Singapore               3
Slovenia                1
South Africa            4
Spain                   1
Sweden                  3
Switzerland             4
Taiwan                  2
Thailand                2
Ukraine                 2
United Kingdom         13
United States          69
Uruguay                 1
Name: Respondent, dtype: int64