<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

> <strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file.

Step2: Upload it on the IBM Watson studio. (If IBM Watson Cloud service does not work in your system, follow the alternate Step 2 below)

Step2(alternate): Upload it in your SN labs environment using the upload button which is highlighted in red in the image below:
Remember to upload this Jobs_API file in the same folder as your current .ipynb file

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG" />

Step3:  Run all the cells of the Jobs_API file. (Even if you receive an asterik sign after running the last cell, the code works fine.)

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: [https://www.kaggle.com/promptcloud/jobs-on-naukricom](https://www.kaggle.com/promptcloud/jobs-on-naukricom?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01) under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [1]:
import requests # you need this module to make an API call
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [4]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [5]:
print(data)   # print the data just to check the output or for debugging

{'number': 14, 'message': 'success', 'people': [{'name': 'Kjell Lindgren', 'craft': 'ISS'}, {'name': 'Bob Hines', 'craft': 'ISS'}, {'name': 'Samantha Cristoforetti', 'craft': 'ISS'}, {'name': 'Jessica Watkins', 'craft': 'ISS'}, {'name': 'Cai Xuzhe', 'craft': 'Tiangong'}, {'name': 'Chen Dong', 'craft': 'Tiangong'}, {'name': 'Liu Yang', 'craft': 'Tiangong'}, {'name': 'Sergey Prokopyev', 'craft': 'ISS'}, {'name': 'Dmitry Petelin', 'craft': 'ISS'}, {'name': 'Frank Rubio', 'craft': 'ISS'}, {'name': 'Nicole Mann', 'craft': 'ISS'}, {'name': 'Josh Cassada', 'craft': 'ISS'}, {'name': 'Koichi Wakata', 'craft': 'ISS'}, {'name': 'Anna Kikina', 'craft': 'ISS'}]}

Print the number of astronauts currently on ISS.

In [6]:
print(data.get('number'))

14

Print the names of the astronauts currently on ISS.

In [7]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 14 astronauts on ISS
And their names are :
Kjell Lindgren
Bob Hines
Samantha Cristoforetti
Jessica Watkins
Cai Xuzhe
Chen Dong
Liu Yang
Sergey Prokopyev
Dmitry Petelin
Frank Rubio
Nicole Mann
Josh Cassada
Koichi Wakata
Anna Kikina

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

*   Los Angeles
*   New York
*   San Francisco
*   Washington DC
*   Seattle
*   Austin
*   Detroit

In [ ]:
#Import required libraries
import pandas as pd
import json

#### Write a function to get the number of jobs for the Python technology.<br>

> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.

Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01">link</a>

##### The keys in the json are

*   Job Title

*   Job Experience Required

*   Key Skills

*   Role Category

*   Location

*   Functional Area

*   Industry

*   Role

You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01">json</a> URL.

In [ ]:
api_url="http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):
    number_of_jobs = 0
    page=0
    new_results=1
    while new_results>0:
        payload={"Job Title":technology,"page":page}
        r=requests.get(api_url,payload)
        new_results =len(r.json())
        page+=1
        number_of_jobs+=(len(r.json()))
    return technology,number_of_jobs
    #your code goes here
    return technology,number_of_jobs

Calling the function for Python and checking if it works.

In [ ]:
get_number_of_jobs_T("Python")

#### Write a function to find number of jobs in US for a location of your choice

In [ ]:
def get_number_of_jobs_L(location):
    number_of_jobs = 0
    page=0
    new_results=1
    while new_results>0:
        payload={"Location":location,"page":page}
        r=requests.get(api_url,payload)
        new_results =len(r.json())
        page+=1
        number_of_jobs+=(len(r.json()))
    return technology,number_of_jobs
    #your code goes here
    return location,number_of_jobs

Call the function for Los Angeles and check if it is working.

In [ ]:
#your code goes here
get_number_of_jobs_L("Los Angeles")

In [8]:
# My Solution 
# I have problem to connect api_url because of that I use api2_url .

api2_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01"
r = requests.get(api2_url)
data = r.json()

In [9]:
len(data)

27005

In [10]:
# Functions 

def get_number_of_jobs_T(technology):
    #global technology
    #r = requests.get(api2_url)
    #data = r.json()
    number_of_jobs = 0
    for i in range (0,len(data)):
        if (technology in  data[i]["Key Skills"]):
            number_of_jobs += 1
    return technology,number_of_jobs

print(get_number_of_jobs_T("Python"))

def get_number_of_jobs_L(location):
    number_of_jobs = 0
    for i in range (0,len(data)):
        if location in  data[i]["Location"]:
            number_of_jobs += 1
    return location,number_of_jobs

print(get_number_of_jobs_L("Los Angeles"))

def get_number_of_jobs_J_and_L(technology,location):
    number_of_jobs = 0
    for i in range (0,len(data)):
        if (technology in  data[i]["Key Skills"]) and (location in  data[i]["Location"]):
            number_of_jobs += 1
    return technology,location,number_of_jobs

print(get_number_of_jobs_J_and_L("Python", "Los Angeles"))

('Python', 1173)
('Los Angeles', 640)
('Python', 'Los Angeles', 24)

In [11]:
# All Locations
l = []
for i in range (0,len(data)):
    l.append(data[i]["Location"])
print(set(l))

{'New Orleons', 'Philadelphia', 'Baltimore', 'Washington DC', 'San Francisco', 'Austin', 'Boston', 'New York', 'Houston', 'Dallas', 'Detroit', 'Los Angeles', 'Seattle'}

In [12]:
jobs_list = ["C", "C#","C++", "Java", "JavaScript", "Python", "Scala", "Oracle", "SQL Server", "MySQL Server", "PostgreSQLappend", "MongoDB"]
location_list = ['San Francisco', 'Philadelphia', 'Baltimore', 'Austin', 'Los Angeles', 'New York', 'Washington DC', 'Houston', 'New Orleons', 'Dallas', 'Detroit', 'Seattle', 'Boston']
jobs = []
loc = []
for i in jobs_list:
    #print(get_number_of_jobs_T(i))
    jobs.append(get_number_of_jobs_T(i))
print("List of jobs with number of jobs : \n", sorted(jobs, key=lambda x : x[1]))

print("\n")

for i in location_list:
    #print(get_number_of_jobs_L(i))
    loc.append(get_number_of_jobs_L(i))
print("Number of jobs with locations : \n", sorted(loc, key= lambda x : x[1]))

List of jobs with number of jobs :
 [('MySQL Server', 0), ('PostgreSQLappend', 0), ('Scala', 33), ('MongoDB', 174), ('SQL Server', 250), ('C++', 305), ('C#', 333), ('JavaScript', 355), ('Oracle', 784), ('Python', 1173), ('Java', 2609), ('C', 13498)]


Number of jobs with locations :
 [('Philadelphia', 41), ('Austin', 434), ('San Francisco', 435), ('Los Angeles', 640), ('New Orleons', 817), ('Dallas', 1208), ('Baltimore', 1263), ('Boston', 2966), ('New York', 3226), ('Houston', 3339), ('Seattle', 3375), ('Detroit', 3945), ('Washington DC', 5316)]

In [13]:
jobs_loc = []
for i in jobs_list:
    for j in location_list:
        jobs_loc.append(get_number_of_jobs_J_and_L(i,j))
print(sorted(jobs_loc))

[('C', 'Austin', 224), ('C', 'Baltimore', 651), ('C', 'Boston', 1525), ('C', 'Dallas', 590), ('C', 'Detroit', 1973), ('C', 'Houston', 1638), ('C', 'Los Angeles', 296), ('C', 'New Orleons', 413), ('C', 'New York', 1622), ('C', 'Philadelphia', 20), ('C', 'San Francisco', 214), ('C', 'Seattle', 1668), ('C', 'Washington DC', 2664), ('C#', 'Austin', 5), ('C#', 'Baltimore', 14), ('C#', 'Boston', 30), ('C#', 'Dallas', 21), ('C#', 'Detroit', 60), ('C#', 'Houston', 29), ('C#', 'Los Angeles', 5), ('C#', 'New Orleons', 7), ('C#', 'New York', 41), ('C#', 'Philadelphia', 1), ('C#', 'San Francisco', 3), ('C#', 'Seattle', 49), ('C#', 'Washington DC', 68), ('C++', 'Austin', 4), ('C++', 'Baltimore', 18), ('C++', 'Boston', 38), ('C++', 'Dallas', 17), ('C++', 'Detroit', 32), ('C++', 'Houston', 42), ('C++', 'Los Angeles', 3), ('C++', 'New Orleons', 9), ('C++', 'New York', 43), ('C++', 'Philadelphia', 0), ('C++', 'San Francisco', 3), ('C++', 'Seattle', 41), ('C++', 'Washington DC', 55), ('Java', 'Austin', 32), ('Java', 'Baltimore', 129), ('Java', 'Boston', 298), ('Java', 'Dallas', 116), ('Java', 'Detroit', 353), ('Java', 'Houston', 322), ('Java', 'Los Angeles', 43), ('Java', 'New Orleons', 80), ('Java', 'New York', 326), ('Java', 'Philadelphia', 2), ('Java', 'San Francisco', 38), ('Java', 'Seattle', 354), ('Java', 'Washington DC', 516), ('JavaScript', 'Austin', 5), ('JavaScript', 'Baltimore', 15), ('JavaScript', 'Boston', 44), ('JavaScript', 'Dallas', 16), ('JavaScript', 'Detroit', 41), ('JavaScript', 'Houston', 44), ('JavaScript', 'Los Angeles', 7), ('JavaScript', 'New Orleons', 11), ('JavaScript', 'New York', 51), ('JavaScript', 'Philadelphia', 1), ('JavaScript', 'San Francisco', 7), ('JavaScript', 'Seattle', 52), ('JavaScript', 'Washington DC', 61), ('MongoDB', 'Austin', 1), ('MongoDB', 'Baltimore', 8), ('MongoDB', 'Boston', 22), ('MongoDB', 'Dallas', 4), ('MongoDB', 'Detroit', 25), ('MongoDB', 'Houston', 24), ('MongoDB', 'Los Angeles', 2), ('MongoDB', 'New Orleons', 8), ('MongoDB', 'New York', 25), ('MongoDB', 'Philadelphia', 0), ('MongoDB', 'San Francisco', 2), ('MongoDB', 'Seattle', 21), ('MongoDB', 'Washington DC', 32), ('MySQL Server', 'Austin', 0), ('MySQL Server', 'Baltimore', 0), ('MySQL Server', 'Boston', 0), ('MySQL Server', 'Dallas', 0), ('MySQL Server', 'Detroit', 0), ('MySQL Server', 'Houston', 0), ('MySQL Server', 'Los Angeles', 0), ('MySQL Server', 'New Orleons', 0), ('MySQL Server', 'New York', 0), ('MySQL Server', 'Philadelphia', 0), ('MySQL Server', 'San Francisco', 0), ('MySQL Server', 'Seattle', 0), ('MySQL Server', 'Washington DC', 0), ('Oracle', 'Austin', 11), ('Oracle', 'Baltimore', 33), ('Oracle', 'Boston', 79), ('Oracle', 'Dallas', 35), ('Oracle', 'Detroit', 115), ('Oracle', 'Houston', 100), ('Oracle', 'Los Angeles', 17), ('Oracle', 'New Orleons', 25), ('Oracle', 'New York', 95), ('Oracle', 'Philadelphia', 2), ('Oracle', 'San Francisco', 19), ('Oracle', 'Seattle', 110), ('Oracle', 'Washington DC', 143), ('PostgreSQLappend', 'Austin', 0), ('PostgreSQLappend', 'Baltimore', 0), ('PostgreSQLappend', 'Boston', 0), ('PostgreSQLappend', 'Dallas', 0), ('PostgreSQLappend', 'Detroit', 0), ('PostgreSQLappend', 'Houston', 0), ('PostgreSQLappend', 'Los Angeles', 0), ('PostgreSQLappend', 'New Orleons', 0), ('PostgreSQLappend', 'New York', 0), ('PostgreSQLappend', 'Philadelphia', 0), ('PostgreSQLappend', 'San Francisco', 0), ('PostgreSQLappend', 'Seattle', 0), ('PostgreSQLappend', 'Washington DC', 0), ('Python', 'Austin', 15), ('Python', 'Baltimore', 43), ('Python', 'Boston', 129), ('Python', 'Dallas', 48), ('Python', 'Detroit', 170), ('Python', 'Houston', 151), ('Python', 'Los Angeles', 24), ('Python', 'New Orleons', 42), ('Python', 'New York', 143), ('Python', 'Philadelphia', 0), ('Python', 'San Francisco', 17), ('Python', 'Seattle', 133), ('Python', 'Washington DC', 258), ('SQL Server', 'Austin', 5), ('SQL Server', 'Baltimore', 11), ('SQL Server', 'Boston', 23), ('SQL Server', 'Dallas', 11), ('SQL Server', 'Detroit', 34), ('SQL Server', 'Houston', 33), ('SQL Server', 'Los Angeles', 3), ('SQL Server', 'New Orleons', 8), ('SQL Server', 'New York', 36), ('SQL Server', 'Philadelphia', 0), ('SQL Server', 'San Francisco', 2), ('SQL Server', 'Seattle', 31), ('SQL Server', 'Washington DC', 53), ('Scala', 'Austin', 1), ('Scala', 'Baltimore', 2), ('Scala', 'Boston', 1), ('Scala', 'Dallas', 2), ('Scala', 'Detroit', 5), ('Scala', 'Houston', 5), ('Scala', 'Los Angeles', 0), ('Scala', 'New Orleons', 2), ('Scala', 'New York', 8), ('Scala', 'Philadelphia', 0), ('Scala', 'San Francisco', 0), ('Scala', 'Seattle', 4), ('Scala', 'Washington DC', 3)]

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all locations for which you need to find the number of jobs postings.

In [14]:
#your code goes here
for i in location_list:
    loc.append(get_number_of_jobs_L(i))
print("Number of jobs with locations : \n", loc)

Number of jobs with locations :
 [('San Francisco', 435), ('Philadelphia', 41), ('Baltimore', 1263), ('Austin', 434), ('Los Angeles', 640), ('New York', 3226), ('Washington DC', 5316), ('Houston', 3339), ('New Orleons', 817), ('Dallas', 1208), ('Detroit', 3945), ('Seattle', 3375), ('Boston', 2966), ('San Francisco', 435), ('Philadelphia', 41), ('Baltimore', 1263), ('Austin', 434), ('Los Angeles', 640), ('New York', 3226), ('Washington DC', 5316), ('Houston', 3339), ('New Orleons', 817), ('Dallas', 1208), ('Detroit', 3945), ('Seattle', 3375), ('Boston', 2966)]

Import libraries required to create excel spreadsheet

In [15]:
# your code goes here
from openpyxl import Workbook, load_workbook

Create a workbook and select the active worksheet

In [16]:
# your code goes here
wb = Workbook()
ws = wb.active

Find the number of jobs postings for each of the location in the above list.
Write the Location name and the number of jobs postings into the excel spreadsheet.

In [17]:
#your code goes here
ws.title = "Jobs&Locs"
ws.append(["Technology", "Location", "Num_of_Jobs"])
jobs_loc = []
for i in jobs_list:
    for j in location_list:
        jobs_loc.append(get_number_of_jobs_J_and_L(i,j))
        ws.append([get_number_of_jobs_J_and_L(i,j)[0], get_number_of_jobs_J_and_L(i,j)[1], get_number_of_jobs_J_and_L(i,j)[2]])
#print(jobs_loc)

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [18]:
#your code goes here
wb.save("job-postings.xlsx")

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [19]:
# your code goes here
# I did all jobs above the celll

## Author

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-01-19        | 0.3     | Lakshmi Holla     | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2022 IBM Corporation. All rights reserved.