In [2]:
import pandas as pd
import json
import requests

In [4]:
#api_url="http://127.0.0.1:5000/data"
api2_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01"
r = requests.get(api2_url)
data = r.json()

In [5]:
len(data)

27005

In [60]:
def get_number_of_jobs_T(technology):
    #global technology
    #r = requests.get(api2_url)
    #data = r.json()
    number_of_jobs = 0
    for i in range (0,len(data)):
        if (technology in  data[i]["Key Skills"]):
            number_of_jobs += 1
    return technology,number_of_jobs

get_number_of_jobs_T("Python")

('Python', 1173)

In [64]:
def get_number_of_jobs_L(location):
    number_of_jobs = 0
    for i in range (0,len(data)):
        if location in  data[i]["Location"]:
            number_of_jobs += 1
    return location,number_of_jobs

L= ["Los Angeles", "New York", "San Francisco", "Washington DC", "Seattle"]

for i in L:
    print(get_number_of_jobs_L(i))

('Los Angeles', 640)
('New York', 3226)
('San Francisco', 435)
('Washington DC', 5316)
('Seattle', 3375)

In [ ]:
# Normalde Olmasi Gereken ama Calismiyor

baseurl = "http://127.0.0.1:5000/data"
def get_number_of_jobs(technology):
    number_of_jobs = 0
    #your code goes here
    page=0
    new_results=1
    while new_results>0:
        payload={"Job Title":technology,"page":page}
        r=requests.get(baseurl,payload)
        new_results =len(r.json())
        page+=1
        number_of_jobs+=(len(r.json()))
         
    return technology,number_of_jobs

get_number_of_jobs("Python")

In [6]:
df = pd.read_json("jobs.json")
df.head()

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,0,Digital Media Planner,5 - 10 yrs,Media Planning| Digital Media,Advertising,Los Angeles,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
1,1,Online Bidding Executive,2 - 5 yrs,pre sales| closing| software knowledge| client...,Retail Sales,New York,"Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer
2,2,Trainee Research/ Research Executive- Hi- Tech...,0 - 1 yrs,Computer science| Fabrication| Quality check| ...,R&D,San Francisco,"Engineering Design , R&D","Recruitment, Staffing",R&D Executive
3,3,Technical Support,0 - 5 yrs,Technical Support,Admin/Maintenance/Security/Datawarehousing,Washington DC,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Technical Support Engineer
4,4,Software Test Engineer -hyderabad,2 - 5 yrs,manual testing| test engineering| test cases| ...,Programming & Design,Boston,IT Software - QA & Testing,"IT-Software, Software Services",Testing Engineer

In [63]:
df.loc[df['Job Title'] == 'Python', :]

Empty DataFrame
Columns: [Id, Job Title, Job Experience Required, Key Skills, Role Category, Location, Functional Area, Industry, Role]
Index: []

In [73]:
df.loc[df["Job Title"].isin(["Python Developer"])].count()

Id                         31
Job Title                  31
Job Experience Required    31
Key Skills                 31
Role Category              31
Location                   31
Functional Area            31
Industry                   31
Role                       31
dtype: int64

In [13]:
jobs = []
df.loc[df["Job Title"].str.contains("Python"), ["Job Title"]].count()

Job Title    191
dtype: int64

In [68]:
df.loc[df["Job Title"].str.match("Python")].count()

Id                         78
Job Title                  78
Job Experience Required    78
Key Skills                 78
Role Category              78
Location                   78
Functional Area            78
Industry                   78
Role                       78
dtype: int64

In [1]:
from flask import Flask

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [14/Oct/2022 07:18:10] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [14/Oct/2022 07:18:10] "GET /apple-touch-icon-precomposed.png HTTP/1.1" 404 -
127.0.0.1 - - [14/Oct/2022 07:18:10] "GET /apple-touch-icon.png HTTP/1.1" 404 -
127.0.0.1 - - [14/Oct/2022 07:28:11] "GET / HTTP/1.1" 200 -

In [1]:
data = jobs.json()
len(data)

NameError: name 'jobs' is not defined